In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

df = pd.read_csv("house_data.csv")
df.info()
pd.set_option('display.max_columns',None)
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21466 entries, 0 to 21465
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21466 non-null  int64
 1   date           21466 non-null  int64
 2   price          21466 non-null  float64
 3   bedrooms       21466 non-null  int64
 4   bathrooms      21466 non-null  float64
 5   sqft_living    21466 non-null  int64
 6   sqft_lot       21466 non-null  int64
 7   floors         21466 non-null  float64
 8   waterfront     21466 non-null  int64
 9   view           21466 non-null  int64
 10  condition      21466 non-null  int64
 11  grade          21466 non-null  int64
 12  sqft_above     21466 non-null  int64
 13  sqft_basement  21466 non-null  int64
 14  yr_built       21466 non-null  int64
 15  yr_renovated   21466 non-null  int64
 16  zipcode        21466 non-null  int64
 17  lat            21466 non-null  float64
 18  long           21466 non-null  float64
 19  sqft_living15  21466 non-null  int64
 20  sqft_lot15     21466 non-null  int64
 21  yr_sale        21466 non-null  int64
dtypes: float64(5), int64(17)
memory usage: 3.6 MB

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,yr_sale
0,7129300520,20141013,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,2014
1,6414100192,20141209,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,2014
2,5631500400,20150225,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,2015
3,2487200875,20141209,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,2014
4,1954400510,20150218,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,2015
5,7237550310,20140512,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,2014
6,1321400060,20140627,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,2014
7,2008000270,20150115,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,2015
8,2414600126,20150415,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,2015
9,3793500160,20150312,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,2015

Encoder les variables catégoriques

In [13]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['zipcode'] = labelencoder.fit_transform(df['zipcode'])
df['condition'] = labelencoder.fit_transform(df['condition'])
df['grade'] = labelencoder.fit_transform(df['grade'])

Application du modèle de régression linéaire

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

Application du modèle de régression linéaire sur le training

In [11]:
from sklearn.linear_model import LinearRegression
regressor_lr = LinearRegression()
regressor_lr.fit(X_train, y_train)

y_pred_lr = regressor_lr.predict(X_test)

Les premières prédictions du modèle par rapport aux valeurs test

In [15]:
overview_y_pred = y_pred_lr
overview_y_test = y_test

overview = pd.DataFrame(data=np.column_stack((overview_y_pred,overview_y_test)),
                        columns=['Predictions','Valeurs Réelles'])

overview.head()

    Predictions  Valeurs Réelles
0  6.781680e+05         661000.0
1  5.103573e+05         385000.0
2  2.967912e+05         285000.0
3  1.047835e+06        1500000.0
4  2.826650e+05         368000.0

Evaluation le modèle

In [17]:
accuracy_lr = []

for i in range (0, 292):
    if y_test[i] - y_pred_lr[i] < 0:
        accuracy_lr.append(y_pred_lr[i] - y_test[i])
    else:
        accuracy_lr.append(y_test[i] - y_pred_lr[i])


accuracy_lr = np.asarray(accuracy_lr)
accuracy_lr.mean()

KeyError: 0